.range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    color: var(--color-text);
    background-color: var(--color-input);
    font-size: 1.25rem;
    box-shadow: var(--color-shadow);

    &__input {
        width: 80%;
        height: 3px;
        accent-color: var(--color-range);
    }
}