:root {
  --color-bg: #110032;
  --color-input: #241442;
  --color-btn: #a200d4;
  --color-btn-hover: #8502ad;
  --color-range: #7400e4;
  //--color-range-hover
  --color-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
  --color-text: #fff;
}

/* Variables SASS */
